<h2>User info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<div>
  <%= link_to edit_user_path(user.id) do %>
    プロフィール編集
  <% end %>
</div>
<div>
  <h2>New book</h2>
    <%= form_with model: book do |f| %>
      <div>
        <label>Title</label>
        <%= f.text_field :title %>
      </div>
      <div>
        <label>Opinion</label>
        <%= f.text_area :body %>
      </div>
      <div>
        <%= f.submit 'Create Book' %>
      </div>
    <% end %>
</div>