<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>
          <%= link_to user_path(current_user.id) do %>
           Home
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
            Users
          <% end %>
        </li>
        <li>
          <%= link_to books_path do %>
            Books
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            Log out
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to '/' do %>
           Home
          <% end %>
        </li>
        <li>
          <%= link_to about_path do %>
            About
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            Sign up
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            Log in
          <% end %>
        </li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
